<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css')}}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="page-header">
  	<div class="container">
  		<div class="row-fluid">
          <h1>Item Catalog App</h1>
      	</div>
      	<div class="col-md-6">
			<p>New Item Page<p>
		</div>
		<div class="col-md-4" align=right>
  			{% if not username %}
    		<button><a href="{{ url_for('showLogin') }}">log in</a></button>
  			{% else %}
    		<button><a href="{{ url_for('gdisconnect') }}">logout</a></button>
			{% endif %}
		</div>
  	</div>
</div>
<div class = "container">
	<div class = "row">
		<div class="col-md-6">
			<form action="#" method = 'post'>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='name' placeholder = 'Enter Name'></dd>
				<dt>Description:</dt>
					<dd><textarea name = 'description' rows='5' cols='40' placeholder = 'Enter Description'></textarea></dd>
			    <dt>Image URL:</dt>
					<dd><input type ='text' size='30' name='img_url' placeholder = 'Enter Image URL'></dd>
			    <br>
			    <p><b>Category:</b><p>
			    <select class="form-control" name='category'>
			    	{% for row in catalog %}
			      		<option value="{{row.id}}">{{row.category}}</option>
			      	{% endfor %}
				</select>
			<br>
			<input type='submit' value='Create'>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			</form>
		</div>	
	</div>
</div>

</body>
</html>
